
* {
    padding: 0;
    margin: 0;
  }


.scroll-tracker{
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 1rem;
    background-color: black;
    color: white;
    line-height: 0;
    border-radius: 0.35rem;
    font-size: small;
    height: fit-content;
}

.material-icons{
    font-size: small !important;
    margin: 0 0 0 0.5rem !important;
    cursor: pointer;
    padding: 0.5rem;
}


.scroll-tracker-widget {
    background-color: var(--widget_color);
    font-family: var(--widget_font_family);
    color: var(--widget_font_color);
    text-transform: uppercase;
    padding: 0.5rem 0.75rem 1rem 0.75rem;
    gap: 1rem;
    font-size: small;
    border-radius: 4px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .scroll-tracker-widget > p {
    background-color: var(--scrolling_distance_background);
    padding: 0.5rem 0.75rem 0 0.75rem;
    border-radius: inherit;
    font-size: 2rem;
    display: flex;
    gap: 2.5rem;
    align-items: baseline;
    justify-content: center;
  }
  
  #scrollDistanceWidget {
    font-size: 4rem;
    line-height: 0.9;
  }
  

.scroll-tracker-align-left{
  margin-right: auto;
}

.scroll-tracker-align-center{
  margin:auto auto;
}

.scroll-tracker-align-right{
  margin-left: auto;
}
